@import "tailwindcss";
/* @import "react-toastify/dist/ReactToastify.css"; */

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-regular.ttf") format("truetype");
  font-weight: 400;      /* Regular */
  font-style:  normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-semibold.ttf") format("truetype");
  font-weight: 600;      /* SemiBold */
  font-style:  normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-bold.ttf") format("truetype");
  font-weight: 700;      /* Bold */
  font-style:  normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-black.ttf") format("truetype");
  font-weight: 900;      /* Black */
  font-style:  normal;
  font-display: swap;
}

@layer components {
  .container {
    @apply mx-auto px-4;
    max-width: 100%; /* default */
  }

  @media (min-width: 1440px) {
    .container {
      max-width: 1440px !important;
      padding-left: 35px !important;
      padding-right: 35px !important;
    }
  }
}

@layer base {
  h1, h2   { @apply font-bold font-sans; }   /* 700 → Bold */
  h3, a, button       { @apply font-semibold font-sans;}  /* 600 → SemiBold */
  h4       { @apply font-bold   font-sans;}    /* qo'lsiz o'zgartirsa bo'ladi */
  p, li, label, span    { @apply font-normal font-sans ; }   /* 400 → Regular */
  button { @apply cursor-pointer; }
}

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

.glass {
  @apply  backdrop-blur-md;
}